Hostname: {{ ansible_hostname }}
Linux distribution: {{ dist }}

Interfaces:
{% for i in interface_names %}
{% set interface = interface_names[loop.index-1] %}
{% set mac = mac_addresses[loop.index-1] %}
  interface_name: {{ interface }}
  interface_mac: {{ mac }}

{% endfor %}
LVMs:
  lvs:
{% for i in lvs_names %}
{% set lv_name = lvs_names[loop.index-1] %}
{% set lv_size = lvs_sizes[loop.index-1] %}
    lv_name: {{ lv_name }}
    lv_size_g: {{ lv_size }}

{% endfor %}
  pvs:
{% for i in pvs_names %}
{% set pv_name = pvs_names[loop.index-1] %}
{% set pv_size = pvs_sizes[loop.index-1] %}
    pv_name: {{ pv_name }}
    pv_size_g: {{ pv_size }}

{% endfor %}
  vgs:
{% for i in vgs_names %}
{% set vg_name = vgs_names[loop.index-1] %}
{% set vg_size = vgs_sizes[loop.index-1] %}
    vg_name: {{ vg_name }}
    vg_size_g: {{ vg_size }}

{% endfor %}
